- set_page_title  "Works"

#works_page
  %h2 Works
  .works
    .work
      .title
        %h4=link_to '点击100电子商城','http://www.dianji100.com'
        %p 广州大学城电子商城
        %p ROR3+mysql+JQuery
        =image_tag 'dianji100-index.jpg',:width=>'250px'
    .work
      .title
        %h4=link_to 'Github:FisherBlog','http://richfisher.me'
        %p 我的个人博客源码
        %p ROR3+mongoDB+JQuery
    .work
      .title
        %h4=link_to '多多木团购网(已过期)','http://www.duoduomu.com'
        %p 广州大学城团购网
        %p php+mysql+JQuery
        =image_tag 'duoduomu.jpg',:width=>'250px'
