#footer
  Powered by opensource project
  =link_to 'FisherBlog','https://github.com/richfisher/FisherBlog'
  running on EC2.

  :erb
    <script type="text/javascript" src="http://js.tongji.linezing.com/2770570/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2770570/tongji.gif"/></a></noscript>

  -#:javascript
  -#  $(function(){
  -#    var _gaq = _gaq || [];
  -#    _gaq.push(['_setAccount', 'UA-28915280-1']);
  -#    _gaq.push(['_trackPageview']);
  -#
  -#    (function() {
  -#      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  -#      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  -#      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  -#    })();
  -#  })

